body, html {
  width: 100%;
  height: 100%;
  font-family: Apple Chancery, cursive;
  margin: 0 auto;
  display: block;
  text-align: center;
  background-image: url(../images/white-wood.jpg);
}

.container, h1 {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  padding: 10px;
  margin: 10px auto;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  
}

h4 {
  width: fit-content;
  display: inline-block;
  padding: 5px;
  margin: 20px 0 0 0;
}

.amiable {
  border: 1px solid #ff7e5f;
  box-shadow:  -1px 1px #ff7e5f, -2px 2px #fc7350, -3px 3px #fd7351, -4px 4px #f3704f, -5px 5px #ec7153;
  background-color: #ffaa94;

}

.indifferent {
  background-color: #dddd22;
}

.dubious {
  background-color: #dd4444;
}

.column {
  width: 30%;
  display: inline-block;
}

.small {
  width: 100%;
  height: 100%;
  border: solid 2px gray;
}

.med {
  width: 203.5%;
  border: solid 2px gray;

}

.large {
  width: 303%;
  border: solid 2px gray;

}
